.jumbotron {
    margin-top: 30px;
    padding:30px;
    background-color: #FDE7D2;
x    border: 1px solid #f7f7f7;
    border-radius: 8px;
}
p.pagename {
   font-weight:500;
}
.navlink {
    font-weight:400;
    color: #333;
}
.row {
    margin: auto;
    width: 100%;
}

.about-image {
    width: 50%;
    height: auto;
    float:left;

  }

.borders {
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    margin: 10px 0;
    padding:10px;
}

.about{
    margin: 0.67em 0;
    display: block;
}
ul.about{
    margin-top: 10px;
    font-size: 16px;
}


/* Not using at the moment.
.space {
    padding-top:50px;
}
.nav-pills {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight:500;
    font-size: 21px;
  }
  
  .container .jumbotron, .container-fluid .jumbotron {
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  */